<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Verified emails</title>
	</head>
	<body>
		<div id="verified_emails">
			<h1>Emails with Verified Sender:</h1>
			{% for verified in verified_metadata %}
				<p>Sender: {{ verified.sender }}<br>
				Subject: {{ verified.subject }}<br>
				<a href="{{ verified.link }}">View Email</a></p>
			{% endfor %}
		</div>
		<div id="new_emails">
			<h1>Emails with New Sender:</h1>
			{% for new in new_metadata %}
				<p>Sender: {{ new.sender }}<br>
				Subject: {{ new.subject }}<br>
				<a href="{{ new.link }}">View Email</a></p>
			{% endfor %}
		</div>
		<div id="unverified_emails">
			<h1>Emails with Unverified Sender:</h1>
			{% for unverified in unverified_metadata %}
				<p>Sender: {{ unverified.sender }}<br>
				Subject: {{ unverified.subject }}<br>
				<a href="{{ unverified.link }}">View Email</a></p>
			{% endfor %}
		</div>

	</body>
</html>
